<!--
SPDX-FileCopyrightText: 2022 The SMW Music Python Project Authors
<https://github.com/com-posers-pit/smw_music/blob/develop/AUTHORS.rst>

SPDX-License-Identifier: AGPL-3.0-only
-->


<html>
  <head>
    <title>MusicXML-to-AMK MML</title>
  </head>
  <body>
    <form action="mml_uploader" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" /><br />
      <div>
        Global Legato:
        <input type="checkbox" checked="1" name="global_legato"><br />

        Loop Analysis:
        <input type="checkbox" checked="1" name="loop_analysis"><br />

        Superloop Analysis:
        <input type="checkbox" name="superloop_analysis"><br />

        Include Measure #s:
        <input type="checkbox" checked="1" name="measure_numbers"><br />

        Using custom samples?
        <input type="checkbox" name="custom_samples"><br />

        Custom percussion?
        <input type="checkbox" name="optimize_percussion"><br />

        Download File:
        <input type="checkbox" checked="1" name="download_file"><br />
      </div>

      <div>
        Use echo: <input type="checkbox" name="echo_enabled"><br />

        <div>
          Channels:
          <input type="checkbox" id="echo_ch0" name="echo_ch0">
          <label for="echo_ch0">0</label>
          <input type="checkbox" id="echo_ch1" name="echo_ch1">
          <label for="echo_ch1">1</label>
          <input type="checkbox" id="echo_ch2" name="echo_ch2">
          <label for="echo_ch0">2</label>
          <input type="checkbox" id="echo_ch3" name="echo_ch3">
          <label for="echo_ch1">3</label>
          <input type="checkbox" id="echo_ch4" name="echo_ch4">
          <label for="echo_ch0">4</label>
          <input type="checkbox" id="echo_ch5" name="echo_ch5">
          <label for="echo_ch1">5</label>
          <input type="checkbox" id="echo_ch6" name="echo_ch6">
          <label for="echo_ch0">6</label>
          <input type="checkbox" id="echo_ch7" name="echo_ch7">
          <label for="echo_ch1">7</label>
        </div>
        <div>
          Left Volume (%):
          <input type="range" min="0" max="100" value="50" step="0.1" class="slider" onchange="this.nextElementSibling.value=this.value">
          <input type="number" min="0" max="100" value="50" step="0.1" name="echo_lvol" onchange="this.previousElementSibling.value=this.value">

          Surround?
          <input type="checkbox" name="echo_lvol_inv"> <br />
        </div>

        <div>
          Right Volume (%):
          <input type="range" min="0" max="100" value="50" step="0.1" class="slider" onchange="this.nextElementSibling.value=this.value">
          <input type="number" min="0" max="100" value="50" step="0.1" name="echo_rvol" onchange="this.previousElementSibling.value=this.value">
          Surround?
          <input type="checkbox" name="echo_rvol_inv"> <br />
        </div>

        <div>
          Delay:
          <input type="range" min="0" max="15" value="0" name="echo_delay" class="slider" onchange="this.nextElementSibling.value=16*this.value + 'ms'">
          <output>0ms</output>
        </div>

        <div>
          Feedback (%):
          <input type="range" min="0" max="100" value="50" step="0.1" class="slider" onchange="this.nextElementSibling.value=this.value">
          <input type="number" min="0" max="100" value="50" step="0.1" name="echo_fb" onchange="this.previousElementSibling.value=this.value">
          Surround? <input type="checkbox" name="echo_fb_inv"> <br />
        </div>

        FIR Filter:
        <input type="radio" id="echo_filter0" name="echo_filter" value="0">
        <label for="echo_filter0">0</label>
        <input type="radio" id="echo_filter1" name="echo_filter" value="1" checked="1">
        <label for="echo_filter1">1</label>
        <br />
      </div>

      <input type="submit"/>
    </form>
  </body>
</html>
