<!--
SPDX-FileCopyrightText: 2022 The SMW Music Python Project Authors
<https://github.com/com-posers-pit/smw_music/blob/develop/AUTHORS.rst>

SPDX-License-Identifier: AGPL-3.0-only
-->


<html>
  <head>
    <title>MusicXML -> AMK MML</title>
  </head>
  <body>
    <form action="mml_uploader" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" /><br />
      Global Legato: <input type="checkbox" checked="1"
                                            name="global_legato"><br />
      Loop Analysis: <input type="checkbox" checked="1"
                                            name="loop_analysis"><br />
      Download File: <input type="checkbox" checked="1"
                                            name="download_file"><br />
      Include Measure #s: <input type="checkbox" checked="1"
                                            name="measure_numbers"><br />
      <input type="submit"/>
    </form>
  </body>
</html>
